:root {
  --GREEN-I: #00ff00;
  --GREEN-II: #009862;
  --GREEN-III: #008171;
  --GREEN-IV: #00ed8a;
  --GREEN-V: #007c41;
  --GREEN-VI: #34403a;
  --GREEN-VII: #285230;
  --GREEN-VIII: #138a36;
  --GREEN-IX: #18ff6d;
  --GREEN-X: #01d750;
  --GREEN-XI: #9acd32;
  --GREEN-XII: #adff2f;

  --BLACK-I: #000000;
  --WHITE-I: #ffffff;
}
