@font-face {
  font-family: "Hackernoon-v1";
  font-style: normal;
  src: local("Hackernoon-v1"),
    url(../assets/fonts/HackerNoonV1-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Hackernoon-v2";
  font-style: normal;
  src: local("Hackernoon-v2"),
    url(../assets/fonts/HackerNoonV2-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url(../assets/fonts/SFPRODISPLAYREGULAR.OTF) format("opentype");
}

@font-face {
  font-family: "SF Pro Display Medium";
  font-style: normal;
  font-weight: 500;
  src: local("SF Pro Display"),
    url(../assets/fonts/SFPRODISPLAYMEDIUM.OTF) format("opentype");
}

@font-face {
  font-family: "SF Pro Display Bold";
  font-style: normal;
  font-weight: 700;
  src: local("SF Pro Display"),
    url(../assets/fonts/SFPRODISPLAYBOLD.OTF) format("opentype");
}

@font-face {
  font-family: "SuissetIntl Regular";
  font-style: normal;
  font-weight: 400;
  src: local("SuissetIntl"),
    url(../assets/fonts/SuisseIntl-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "SuissetIntl Medium";
  font-style: normal;
  font-weight: 500;
  src: local("SuissetIntl"),
    url(../assets/fonts/SuisseIntl-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "SuissetIntl Bold";
  font-style: normal;
  font-weight: 700;
  src: local("SuissetIntl"),
    url(../assets/fonts/SuisseIntl-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Gestura Text Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gestura Text"),
    url(../assets/fonts/GesturaText-Regular.woff2) format("woff2");
}
